@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tin Nong</h1>
    <p class="lead">Hom nay khong co tin gi het</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tin trong ngay</h2>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tin Suc khoe</h2>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tin tuc chinh tri</h2>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    
    </div>
